# pylint config
[FORMAT]
good-names=r,a
[MESSAGES CONTROL]
disable=fixme,
        line-too-long,
        too-many-locals,
        too-many-statements,
        too-many-branches,
        bare-except,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        consider-using-f-string
